### Testing Procedure

The app was tested by just inputting different texts and boolean values
for the attributes